<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダーの記述-->
    <%= render 'layouts/header' %>
    <!--ヘッダーの記述-->
    <div class="container">
      <p id="notice"><%= notice %></p>
      <!--デバイスでnotice設定されているので呼び出してるだけ-->

      <%= render 'layouts/search' %>

      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
